<html>
  <div id="slider">
    <figure>
    <img src="https://media.revistagq.com/photos/5ca5e535d71dd95b8f955456/16:9/w_1600%2Cc_limit/tendencias_moda_hombre_otono_invierno_2017_2018_5807.jpg" alt="">
    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/emre-celik-aka-sweamyy1-wears-white-sunglasses-from-versace-news-photo-1643278909.jpg?crop=1xw:0.74993xh;center,top&resize=980:*" alt="">
    <img src="https://mosaic03.ztat.net/crt/creative-content/38eeb1e5-7c7a-43a3-8fa6-77316c474417.jpg?imwidth=512" alt="">

    </figure>
    </div>



<nav>
  <h1>

  </h1>
</nav>
<body>
	<header class="header">
		<div class="container">
		<div class="btn-menu">
			<label for="btn-menu" >☰ Mi ciudad </label>
		</div>

		</div>
	</header>
	<div class="capa"></div>
<!--	--------------->
<input type="checkbox" id="btn-menu">
<div class="container-menu">
	<div class="cont-menu">
		<nav>
			<a href="">BENI</a>
      <a href="">CHUQUISACA</a>
			<a href="">COCHABAMBA</a>
			<a href="">LA PAZ</a>
			<a href="">ORURO</a>
			<a href="">PANDO</a>
			<a href="">POTOSI</a>
      <a href="">SANTA CRUZ</a>
			<a href="">TARIJA</a>

		</nav>
		<label for="btn-menu">✖️</label>
	</div>
</div>
</body>

<main>
  <div class="item" id="BENI">

  </div>
  <div class="item" id="CHUQUISACA">

  </div>
  <div class="item" id="COCHABAMBA">

  </div>
  <div class="item" id="LA PAZ">

  </div>
  <div class="item" id="ORURO">

  </div>
  <div class="item" id="PANDO">

  </div>
  <div class="item" id="POTOSI">

  </div>
  <div class="item" id="SANTA CRUZ">

  </div>
  <div class="item" id="TARIJA">

  </div>


</main>

</html>

