
<Br>
<Br>
<div class="slider">
  <ul>
    <li>
<img src="https://media.revistagq.com/photos/5ca5e535d71dd95b8f955456/16:9/w_1600%2Cc_limit/tendencias_moda_hombre_otono_invierno_2017_2018_5807.jpg" width="100" height="500" alt="">
</li>
    <li>
<img src="https://i.blogs.es/bf7874/tendencias-de-moda-hombre-30-/1366_2000.jpg" width="100" height="500" alt="">
</li>
    <li>
<img src="https://mosaic03.ztat.net/crt/creative-content/38eeb1e5-7c7a-43a3-8fa6-77316c474417.jpg?imwidth=512"  width="100" height="500" alt="">
</li>
  </ul>
</div>

