<div class="container col -md-6">
    <h1 style ="color:darkcyan;"> Iniciar Sesion</h1>
    <form>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="" name="" >
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Contrasena</label>
            <input type="password" class="form-control" id="" name="" >
          </div>
          <button type="submit" class="btn btn-primary"></button>
    </form>
</div>
