<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Registro de vendedor</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Apellido</label>
                    <input type="text" class="form-control">
                </div>
                <button class="btn btn-danger">Guardar</button>
                <!--(click)="Guardar()" -->
            </form>
        </div>
    </div>

</div>
