<div class="container" data-aos="fade-up">

  <!-- FILTRO POR CATEGORIA         -->
<Br>
  <Br>
    <Br>
      <div class="card-group">
        <div class="card">
          <img src="https://m.media-amazon.com/images/I/41cUCe2LrQL._SL500_.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Niña</h5>
            <p class="card-text">Chicago See Red</p>
            <p class="card-text"><small class="text-muted">570 Bs</small></p>
          </div>
        </div>
        <div class="card">
          <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/uniqlo-1584098462.jpg?crop=0.8xw:1xh;center,top&resize=480:*" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">hombre</h5>
            <p class="card-text">Canguro.</p>
            <p class="card-text"><small class="text-muted">560 Bs</small></p>
          </div>
        </div>
        <div class="card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREOORIGm4GP-sesvQmlVdrXlvygvfVChrHyQ&usqp=CAU" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">hombre</h5>
            <p class="card-text">Pijamas para Hombre</p>
            <p class="card-text"><small class="text-muted">250 BS</small></p>
          </div>
        </div>
      </div>

