<div class="container__card">

    <div class="card__father">
        <div class="card">
            <div class="card__front" style="background-image: url(assets/img/prenda1.jpeg);">
                <div class="bg"></div>
                <div class="body__card_front">
                    <h1>BENI.</h1>
                </div>
            </div>
            <div class="card__back">
                <div class="body__card_back">
                    
                     <p>Visita nuestro catalogo de productos</p>
                   
                </div>
            </div>
        </div>
    </div>

    <div class="card__father">
        <div class="card">
            <div class="card__front" style="background-image: url(assets/img/prenda4.jpeg);">
                <div class="bg"></div>
                <div class="body__card_front">
                    <h1>COCHABAMBA</h1>
                </div>
            </div>
            <div class="card__back">
                <div class="body__card_back">
                    
                    <p>Visita nuestro catalogo de productos, Scannea el codigo QR y pruebate virtualmente</p>
                    
                </div>
            </div>
        </div>
    </div>

  <div class="card__father">
        <div class="card">
            <div class="card__front" style="background-image: url(assets/img/prenda3.jpeg);">
                <div class="bg"></div>
                <div class="body__card_front">
                    <h1>LA PAZ</h1>
                </div>
            </div>
            <div class="card__back">
                <div class="body__card_back">
                    
                    <p>Visita nuestro catalogo de productos, Scannea el codigo QR y pruebate virtualmente</p>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="card__father">
        <div class="card">
            <div class="card__front" style="background-image: url(assets/img/animacion3.jpg);">
                <div class="bg"></div>
                <div class="body__card_front">
                    <h1>ORURO</h1>
                </div>
            </div>
            <div class="card__back">
                <div class="body__card_back">
                    
                    <p>Visita nuestro catalogo de productos, Scannea el codigo QR y pruebate virtualmente</p>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="card__father">
        <div class="card">
            <div class="card__front" style="background-image: url(assets/img/animacion.jpg);">
                <div class="bg"></div>
                <div class="body__card_front">
                    <h1>PANDO</h1>
                </div>
            </div>
            <div class="card__back">
                <div class="body__card_back">
                    
                    <p>Visita nuestro catalogo de productos, Scannea el codigo QR y pruebate virtualmente</p>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="card__father">
        <div class="card">
            <div class="card__front" style="background-image: url(assets/img/animacion2.jpg);">
                <div class="bg"></div>
                <div class="body__card_front">
                    <h1>POTOSI</h1>
                </div>
            </div>
            <div class="card__back">
                <div class="body__card_back">
                   
                    <p>Visita nuestro catalogo de productos, Scannea el codigo QR y pruebate virtualmente</p>
                   
                </div>
            </div>
        </div>
    </div>


    <div class="card__father">
        <div class="card">
            <div class="card__front" style="background-image: url(assets/img/animacion2.jpg);">
                <div class="bg"></div>
                <div class="body__card_front">
                    <h1>SANTA CRUZ</h1>
                </div>
            </div>
            <div class="card__back">
                <div class="body__card_back">
                   
                    <p>Visita nuestro catalogo de productos, Scannea el codigo QR y pruebate virtualmente</p>
                   
                </div>
            </div>
        </div>
    </div>

    <div class="card__father">
        <div class="card">
            <div class="card__front" style="background-image: url(assets/img/animacion2.jpg);">
                <div class="bg"></div>
                <div class="body__card_front">
                    <h1>SUCRE</h1>
                </div>
            </div>
            <div class="card__back">
                <div class="body__card_back">
                   
                    <p>Visita nuestro catalogo de productos, Scannea el codigo QR y pruebate virtualmente</p>
                   
                </div>
            </div>
        </div>
    </div>


    <div class="card__father">
        <div class="card">
            <div class="card__front" style="background-image: url(assets/img/animacion2.jpg);">
                <div class="bg"></div>
                <div class="body__card_front">
                    <h1>TARIJA</h1>
                </div>
            </div>
            <div class="card__back">
                <div class="body__card_back">
                   
                    <p>Visita nuestro catalogo de productos, Scannea el codigo QR y pruebate virtualmente</p>
                   
                </div>
            </div>
        </div>
    </div>

</div>