<section id=" registro" class="mb-5">
<div class="container">
<div class=" row">
     <div class="col-xs-12 col-sm-6 col-md-4 mx-auto"> 
     <div class="card_register">
     <div class="card">
    <div class="card-body text-center">
        <form action=""> 
            <h1 class="h3 mb-3 font-weight-normal" >Registro</h1>
            <div class="form-group">
                <input type =" text" id="name" name="nombre" class="form-control"
                placeholder=" name" required>  

            </div>
            <div class="form-group">
                <input type =" text" id="apellido" name="apellido" class="form-control"
                placeholder="apellido" required>  

            </div> 
            <div class="form-group">
                <input type ="number" id="carnet de identidad" name="carnet de identidad" class="form-control"
                placeholder=" ci" required>  

            </div>  
            <div class="form-group">
                <input type ="password" id="contraseña" name="contraseña" class="form-control"
                placeholder=" contraseña" required>  

            </div>
            <div class="form-group">
                <input type ="email" id="email" name="email" class="form-control"
                placeholder="email" required>  

            </div>

            <div class="form-group">
                <input type ="number" id="celular" name="celular" class="form-control"
                placeholder="celular" required>  

            </div>
            <div class="form-group">
                <input type ="text" id="ciudad" name="ciudad" class="form-control"
                placeholder="ciudad" required>  

            </div>
            <div class="form-group">
                <input type ="text" id="direccion" name="direccion" class="form-control"
                placeholder="direccion" required>  
            </div>
         <button type="submit" class="btn btn-lg primary btn-block">registrar</button>
           <div class="form-group">
               <a routerLink="/comprador/login3" class="form-control ">¿Ya tienes una cuenta?</a> 


           </div>  
        </form> 

    </div>

     </div>     
    </div>   
</div>
</div>
</div>
</section>
