<div class="container" data-aos="fade-up">

  <!-- FILTRO POR CATEGORIA         -->
<Br>
  <Br>
    <Br>
      <div class="card-group">
        <div class="card">
          <img src="https://cf.shopee.com.mx/file/51817e764b1d748994c1426bf93f5848_tn" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mujer</h5>
            <p class="card-text">bañador amarillo.</p>
            <p class="card-text"><small class="text-muted">270 Bs</small></p>
          </div>
        </div>
        <div class="card">
          <img src="https://i.linio.com/p/f5924552d4e7df244713cc2698562911-product.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">hombre</h5>
            <p class="card-text">Chlera-negra.</p>
            <p class="card-text"><small class="text-muted">550 Bs</small></p>
          </div>
        </div>
        <div class="card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREOORIGm4GP-sesvQmlVdrXlvygvfVChrHyQ&usqp=CAU" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">hombre</h5>
            <p class="card-text">Pijamas para Hombre</p>
            <p class="card-text"><small class="text-muted">250 BS</small></p>
          </div>
        </div>
      </div>
