<div class="d-flex flex-column h-100">


    <section class="hero text-white py-5 flex-grow-1">
        <div class="container py-4">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="display-4">Bootstrap footer bottom</h1>
                    <p class="fst-italic text-muted">ModaStore, la Mejor tienda en linea de Ropa de Bolivia <a class="text-primary" href="#" target="_blank">ModaStore</a></p>
                </div>
            </div>
        </div>
    </section>


    <!-- FOOTER -->
    <footer class="w-100 py-4 flex-shrink-0">
        <div class="container py-4">
            <div class="row gy-4 gx-5">
                <div class="col-lg-4 col-md-6">
                    <h5 class="h1 text-white">MS.</h5>
                    <p class="small text-muted">Tenemos 10 años de experiencia en el mercado. Somos una empresa Joven, para personas jovenes, con un aroma de Felicidad</p>
                    <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved 2022. <a class="text-primary" href="#">Moda Store </a></p>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-white mb-3">Accesos Rapidos</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Nosotrod</a></li>
                        <li><a href="#">Da un Paseo</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-white mb-3">Enlaces Rapidos</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">WhatsApp</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Encuentranos</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5 class="text-white mb-3">Echa Un vistaso</h5>
                    <p class="small text-muted">Moda Store es una tienda especializada en la comercializacion de prendas de vestir mediante la venta digital. Si tines alguna consulta, dejanos tu correo electronico o tu numero de WhatsApp</p>
                    <form action="#">
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" placeholder="Ingresa tu E-mail o tu WhatsApp" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>
</div>
