<section class="Opciones-Identificate">



    <section class="Cliente-Login">
        <div class="Iniciar-Sesion">
            <h1 class="Tittle-Iniciar-Sesion-Cliente">
                <a href="Vendedor/Login">Iniciar Sesion</a>
            </h1>
            <img class="img-LogIn-Client" src="https://cdn-icons-png.flaticon.com/512/1177/1177527.png">
        </div>

    </section>



    <section class="Cliente-SignUp">

        <div class="SignUp">
            <h1 class="Tittle-SignUp-Cliente">
                <a href="Vendedor/Registro"> Crea tu Cuenta</a>
            </h1>
            <img class="img-SignUp-Client" src="https://cdn-icons-png.flaticon.com/512/2037/2037710.png">
        </div>

    </section>

</section>
