<div class="container" data-aos="fade-up">

  <!-- FILTRO POR CATEGORIA         -->
<Br>
  <Br>
    <Br>
      <div class="card-group">
        <div class="card">
          <img src="https://m.media-amazon.com/images/I/61kCk7YJkIL._AC_SX425_.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Hombre</h5>
            <p class="card-text">Ropa deportiva.</p>
            <p class="card-text"><small class="text-muted">770 Bs</small></p>
          </div>
        </div>
        <div class="card">
          <img src="https://http2.mlstatic.com/D_NQ_NP_611281-MLM49067621868_022022-W.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Niños</h5>
            <p class="card-text"> Pijamas de niño.</p>
            <p class="card-text"><small class="text-muted">350 Bs</small></p>
          </div>
        </div>
        <div class="card">
          <img src="https://images-na.ssl-images-amazon.com/images/G/33/img21/Fashion/SS_Revamp_L0_L1_stores/L1WOMENSTORE_Desktop_SBS_Casual_500x500.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mujer</h5>
            <p class="card-text">Ropa Clasica</p>
            <p class="card-text"><small class="text-muted">950 BS</small></p>
          </div>
        </div>
      </div>
