<!-- Toolbar -->

<nav>
    <div class="Menu-Bar">
        <p class="Tittle-Country">Bolivia</p>
        <p class="Tittle-Language">Español</p>
        <p class="Tittle-Phone">+591 0000000</p>
        <li class="iniciar-sesion"><a href=" ">Iniciar Sesion</a></li>
        <li class="Registrarse"><a href="">Registrate</a></li>
        <h1 class="Tittle-Page">#MODA-STORE</h1>
        <ul class="bar">
            <li><a href="#">INICIO</a> </li>
            <li><a href="#">NOVEDADES</a></li>
            <li><a href="#">BOLSOS</a></li>
            <li><a href="#">MUJER</a></li>
            <li><a href="#">HOMBRE</a></li>
            <li><a href="#">UNISEX</a></li>
            <li><a href="#">NIÑO</a></li>
            <li><a href="#">NIÑA</a></li>
            <li><a href="#">OFERTAS</a></li>
            <li><a href="#">OUTLET</a></li>
        </ul>
    </div>
</nav>