<!-- Toolbar -->

<nav>
    <div class="Menu-Bar">
        <p class="Tittle-Country">Bolivia</p>
        <p class="Tittle-Language">Español</p>
        <p class="Tittle-Phone">+591 0000000</p>



        <li class="Identificate"><a href="/Identificate">Identificate</a> </li>
        <!--   <li class="Registrarse"><a routerLink="/comprador/registro3">Registrate</a></li> -->


        <h1 class="Tittle-Page">#MODA-STORE</h1>
        <ul class="bar">

            <li>
                <a href="">INICIO</a>
            </li>
            <li>
                <a href="/Novedades">NOVEDADES</a>
            </li>
            <li>
                <a href="/Bolsos">BOLSOS</a>
            </li>
            <li>
                <a href="/Mujer">MUJER</a>
            </li>
            <li>
                <a href="/Hombre">HOMBRE</a>
            </li>
            <li>
                <a href="/Unisex">UNISEX</a>
            </li>
            <li>
                <a href="/Hombre/Ninho">NIÑO</a>
            </li>
            <li>
                <a href="/Mujer/Ninha">NIÑA</a>
            </li>
            <li>
                <a href="/Ofertas">OFERTAS</a>
            </li>
            <li>
                <a href="/Outlet">OUTLET</a
                  ></li>

            <li>
                <a href="Deptos">DEPARTAMENTOS</a>


            </li>
        </ul>
    </div>
</nav>