* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background: #f1f1f1;
}

html {
    font-size: 62.5%;
}


/* ********************************************************** */

.Menu-Bar {
    background-color: dimgray;
}

.Menu-Bar .Tittle-Country {
    margin-top: 30px;
    margin-left: 20px;
    background-color: transparent;
    color: white;
    font-size: 1.0rem;
    padding: 5px;
    display: inline-block;
}

.Menu-Bar .Tittle-Language {
    background-color: transparent;
    color: white;
    font-size: 1.0rem;
    padding: 10px;
    display: inline-block;
}

.Menu-Bar .Tittle-Phone {
    background-color: transparent;
    color: white;
    font-size: 1.0rem;
    padding: 10px;
    display: inline-block;
}

.Menu-Bar .iniciar-sesion {
    margin-top: 30px;
    margin-right: 20px;
    background-color: transparent;
    color: white;
    font-size: 1.0rem;
    padding: 10px;
    float: right;
    display: flex;
    list-style: none;
}

.Menu-Bar .Registrarse {
    margin-top: 30px;
    background-color: transparent;
    color: white;
    font-size: 1.0rem;
    padding: 10px;
    float: right;
    display: flex;
    list-style: none;
    overflow: hidden;
}

.Registrarse a {
    text-decoration: none;
    background-color: transparent;
    color: white;
}

.iniciar-sesion a {
    text-decoration: none;
    background-color: transparent;
    color: white;
}

.Tittle-Page {
    color: white;
    padding: 15px;
    position: relative;
    text-align: center;
    font-family: serif;
}

.bar {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.bar li {
    float: left;
    padding-left: 5%;
}

.bar li a {
    background-color: #333;
    width: 100%;
    height: 50px;
    display: block;
    color: wheat;
    text-align: center;
    padding: 10px 1px;
    text-decoration: none;
    z-index: 21px;
}

.bar li a:hover {
    background-color: #111;
}